name: deploy.yml
on:
  workflow_run:
    workflows: ["Publish Docker Image"]
    types:
      - completed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Debug secrets presence
        run: |
          echo "VM_HOST set: ${{ secrets.VM_HOST != '' }}"
          echo "VM_USER set: ${{ secrets.VM_USER != '' }}"
          echo "VM_SSH_KEY set: ${{ secrets.VM_SSH_KEY != '' }}"
      - name: Deploy on VM via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            docker pull ghcr.io/dsw54167/projekt-nowatorski:latest
            docker stop my-app || true
            docker rm my-app || true
            docker run -d \
              --name user-app \
              -p 8000:8000 \
              --env-file .env
              --restart unless-stopped \
               ghcr.io/dsw54167/projekt-nowatorski:latest
