name: Publish Docker Image

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: latest
      registry: ghcr.io
