name: Publish Docker Image

on:
  workflow_run:
    workflows: ["Publish Docker Image"]
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'master'
  publish:
    uses: ./.github/workflows/docker-build.yml
    with:
      image_name: latest
      registry: ghcr.io
